
/****** Object:  Database [THITRACNGHIEM]    Script Date: 24/11/2021 10:47:01 AM ******/
CREATE DATABASE [THITRACNGHIEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THITRACNGHIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\THITRACNGHIEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THITRACNGHIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\THITRACNGHIEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THITRACNGHIEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THITRACNGHIEM]
GO
/****** Object:  Table [dbo].[BAILAM]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAILAM](
	[MaSV] [char](8) NULL,
	[MaCH] [varchar](10) NULL,
	[Traloi] [char](1) NULL,
	[Ngaythi] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[MaCH] [varchar](10) NOT NULL,
	[MaM] [varchar](10) NULL,
	[Noidung] [nvarchar](2000) NULL,
	[Dapan] [char](1) NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV](
	[ID_gv] [varchar](10) NOT NULL,
	[Tengv] [nvarchar](30) NULL,
	[Pass] [varchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_gv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MaSV] [char](8) NOT NULL,
	[MaM] [varchar](10) NOT NULL,
	[Diem] [float] NULL,
	[Lanthi] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaL] [varchar](10) NOT NULL,
	[TenL] [nvarchar](120) NULL,
	[MaM] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LOP_1] PRIMARY KEY CLUSTERED 
(
	[MaL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPSV]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPSV](
	[MaSV] [char](8) NULL,
	[MaL] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHI]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHI](
	[MaM] [varchar](10) NOT NULL,
	[Tenmon] [nvarchar](50) NULL,
	[Socau] [int] NOT NULL,
	[TGlambai] [int] NULL,
	[Thoigianthi] [date] NULL,
 CONSTRAINT [PK_MONTHI] PRIMARY KEY CLUSTERED 
(
	[MaM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SV]    Script Date: 24/11/2021 10:47:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV](
	[MaSV] [char](8) NOT NULL,
	[Hodem] [nvarchar](30) NULL,
	[Ten] [nchar](15) NULL,
	[Ngaysinh] [date] NULL,
	[Matkhau] [varchar](50) NULL,
 CONSTRAINT [PK_SV_1] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAILAM] ([MaSV], [MaCH], [Traloi], [Ngaythi]) VALUES (N'11190658', N'T64', N'B', CAST(N'2021-11-22' AS Date))
INSERT [dbo].[BAILAM] ([MaSV], [MaCH], [Traloi], [Ngaythi]) VALUES (N'11190658', N'T79', N'B', CAST(N'2021-11-22' AS Date))
INSERT [dbo].[BAILAM] ([MaSV], [MaCH], [Traloi], [Ngaythi]) VALUES (N'11190658', N'T76', N'A', CAST(N'2021-11-22' AS Date))
GO
INSERT [dbo].[CAUHOI] ([MaCH], [MaM], [Noidung], [Dapan]) VALUES (N'T02', N'Tin', N'Tinh 5+6 =?   
A.  10     
B.   11   
C.   14     
D.   9', N'B')
INSERT [dbo].[CAUHOI] ([MaCH], [MaM], [Noidung], [Dapan]) VALUES (N'T03', N'Toan', N'Giá trị của biểu thức 8 x a với =100 là:        
A.     8100 
B.     800 
C.     1008 
D.     1800', N'B')
INSERT [dbo].[CAUHOI] ([MaCH], [MaM], [Noidung], [Dapan]) VALUES (N'T04', N'Toan', N'Tinh 7+7 =?   
A.     10     
B.     11    
C.     14     
D.     9', N'C')
GO
INSERT [dbo].[GV] ([ID_gv], [Tengv], [Pass]) VALUES (N'admin', N'admin', N'admin')
INSERT [dbo].[GV] ([ID_gv], [Tengv], [Pass]) VALUES (N'GV', N'Tạ Thị Uyên', N'1')
GO
INSERT [dbo].[KETQUA] ([MaSV], [MaM], [Diem], [Lanthi]) VALUES (N'11190658', N'Toan', 1, 1)
INSERT [dbo].[KETQUA] ([MaSV], [MaM], [Diem], [Lanthi]) VALUES (N'11190658', N'Toan', 2, 2)
INSERT [dbo].[KETQUA] ([MaSV], [MaM], [Diem], [Lanthi]) VALUES (N'11190658', N'Toan', 0, 3)
GO
INSERT [dbo].[LOP] ([MaL], [TenL], [MaM]) VALUES (N'ENL1', N'Tiếng anh 1', N'Anh')
INSERT [dbo].[LOP] ([MaL], [TenL], [MaM]) VALUES (N'ENL2', N'Tiếng anh 2', N'Anh')
INSERT [dbo].[LOP] ([MaL], [TenL], [MaM]) VALUES (N'ENL3', N'Tiếng anh 3', N'Anh')
GO
INSERT [dbo].[LOPSV] ([MaSV], [MaL]) VALUES (N'11190116', N'ENL3')
INSERT [dbo].[LOPSV] ([MaSV], [MaL]) VALUES (N'11190116', N'TCC1')
INSERT [dbo].[LOPSV] ([MaSV], [MaL]) VALUES (N'11190220', N'ENL1')
GO
INSERT [dbo].[MONTHI] ([MaM], [Tenmon], [Socau], [TGlambai], [Thoigianthi]) VALUES (N'Anh', N'Tiếng Anh', 25, 15, CAST(N'2021-11-22' AS Date))
INSERT [dbo].[MONTHI] ([MaM], [Tenmon], [Socau], [TGlambai], [Thoigianthi]) VALUES (N'Toan', N'Toán', 40, 60, CAST(N'2021-11-24' AS Date))
GO
INSERT [dbo].[SV] ([MaSV], [Hodem], [Ten], [Ngaysinh], [Matkhau]) VALUES (N'11190116', N'Đỗ Thị Hoàng', N' Anh           ', CAST(N'2001-11-25' AS Date), N'111111
')
INSERT [dbo].[SV] ([MaSV], [Hodem], [Ten], [Ngaysinh], [Matkhau]) VALUES (N'11190220', N'Lưu Quý Huệ', N' Anh           ', CAST(N'2001-03-10' AS Date), N'111111
')
INSERT [dbo].[SV] ([MaSV], [Hodem], [Ten], [Ngaysinh], [Matkhau]) VALUES (N'11190281', N'Nguyễn Mỹ ', N'Anh            ', CAST(N'2001-02-13' AS Date), N'111111
')
GO
ALTER TABLE [dbo].[BAILAM]  WITH CHECK ADD  CONSTRAINT [FK_BAILAM_CAUHOI] FOREIGN KEY([MaCH])
REFERENCES [dbo].[CAUHOI] ([MaCH])
GO
ALTER TABLE [dbo].[BAILAM] CHECK CONSTRAINT [FK_BAILAM_CAUHOI]
GO
ALTER TABLE [dbo].[BAILAM]  WITH CHECK ADD  CONSTRAINT [FK_BAILAM_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SV] ([MaSV])
GO
ALTER TABLE [dbo].[BAILAM] CHECK CONSTRAINT [FK_BAILAM_SV]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_MONTHI] FOREIGN KEY([MaM])
REFERENCES [dbo].[MONTHI] ([MaM])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_MONTHI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_MONTHI] FOREIGN KEY([MaM])
REFERENCES [dbo].[MONTHI] ([MaM])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_MONTHI]
GO
ALTER TABLE [dbo].[LOPSV]  WITH CHECK ADD  CONSTRAINT [FK_LOPSV_LOP] FOREIGN KEY([MaL])
REFERENCES [dbo].[LOP] ([MaL])
GO
ALTER TABLE [dbo].[LOPSV] CHECK CONSTRAINT [FK_LOPSV_LOP]
GO
ALTER TABLE [dbo].[LOPSV]  WITH CHECK ADD  CONSTRAINT [FK_LOPSV_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SV] ([MaSV])
GO
ALTER TABLE [dbo].[LOPSV] CHECK CONSTRAINT [FK_LOPSV_SV]
GO
USE [master]
GO
